:root {
	--color-primary: #3178C6;

	/* --sidebar-nav-link-color: var(--color-primary); */
	--sidebar-nav-link-color--active: var(--color-primary);
	/* --sidebar-nav-link-color--hover: var(--color-primary); */
}

small,
.markdown-section > small {
	font-size: .75em;
}