:root {
	--color-primary: #3178C6;
	--sidebar-nav-link-color--active: var(--color-primary);
}

.markdown-section pre > code {
	color: hsl(220, 14%, 71%);
}

small,
.markdown-section > small {
	font-size: .75em;
}